#!/usr/sbin/nft -f

table ip filter {
	chain INPUT {
		type filter hook input priority 0; policy drop;
		counter comment "count dropped packets"
	}

	chain FORWARD {
		type filter hook forward priority 0; policy drop;
		counter comment "count dropped packets"
	}

	# If you're not counting packets, this chain can be omitted.
	chain OUTPUT {
		type filter hook output priority 0; policy accept;
		counter comment "count accepted packets"
	}
}

table ip6 filter {
	chain INPUT {
		type filter hook input priority 0; policy drop;
		counter comment "count dropped packets"
	}

	chain FORWARD {
		type filter hook forward priority 0; policy drop;
		counter comment "count dropped packets"
	}

	# If you're not counting packets, this chain can be omitted.
	chain OUTPUT {
		type filter hook output priority 0; policy accept;
		counter comment "count accepted packets"
	}
}
